.row
  .col-md-6
    =simple_form_for [@league, @team, @team_week] do |f|
      =f.input :start_date#, as: :datepicker
      =f.input :season
      =f.input :week
      =f.input :rating

      =f.submit "Save Week"
