-# http://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click
- cu = current_user.present?
-# if cu
%li.dropdown
  %a.dropdown-toggle{ "href" => leagues_path}='Leagues'
  %ul.dropdown-menu
    -# this should be in a controller (application contoller? (should be cached too, but I haven't done any caching yet)) but I haven't figured out the application controller yet
    -League.all.order(:name).each do |l|
      %li
        =link_to "#{l.name} (#{l.sport})", league_path(l)



%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown"}= cu ? current_user.email : "Sign In"
  %ul.dropdown-menu
    -if cu
      %li
        %a="Sign Out"
    -else
      %li
        %a="Sign In"
