-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Ball Markets', root_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
    .pull-right
      .dropdown
        .btn.btn-default.dropdown-toggle{"type" => "button", "id" => "user-navigation-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true"}
          ="User"
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "user-navigation-dropdown"}
          %li
            %a="Thing"

-#
-#         <div class="dropdown">
-#   <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
-#     Dropdown
-#     <span class="caret"></span>
-#   </button>
-#   <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
-#     <li><a href="#">Action</a></li>
-#     <li><a href="#">Another action</a></li>
-#     <li><a href="#">Something else here</a></li>
-#     <li role="separator" class="divider"></li>
-#     <li><a href="#">Separated link</a></li>
-#   </ul>
-# </div>
